<app-page-header title="customers" icon="bi bi-person-square" description="list of customers">
</app-page-header>

<div class="row mt-3">

  <div class="col-3">
    <input type="text" [(ngModel)]="nameTerm" name="nameTerm" class="form-control"
      placeholder="Search Customer By First Name...">
  </div>

  <div class="col-3">
    <input type="text" [(ngModel)]="lnameTerm" name="lnameTerm" class="form-control"
      placeholder="Search Customer By Last Name...">
  </div>

  <div class="col-3">
    <input type="text" [(ngModel)]="phoneTerm" name="phoneTerm" class="form-control"
      placeholder="Search Customer By Phone Number...">
  </div>


  <div class="col-3">
    <span class="float-end">
      <a routerLink="./new" class="btn btn-primary">
        <i class="bi bi-person-plus"></i> Add New Customer
      </a>
    </span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div *ngIf="customers$ |
       async |
        fillterCustomerByDefault: 'phone' :phoneTerm | fillterCustomerByDefault: 'firstName' :nameTerm | fillterCustomerByDefault: 'lastName' :lnameTerm
         as customers; else loading">
      <table *ngIf="customers.length; else noCustomers" class="table table-bordered">
        <thead>
          <tr>
            <th>#No.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers; index as idx">
            <td>
              {{ idx + 1 }}.

              <a [routerLink]="['./', customer.id, 'edit']">
                <i class="bi bi-pencil-fill float-end"></i>
              </a>

              <a class="ms-3" (click)="remove(customer.id)">
                <i class="bi bi-trash-fill float-end"></i>
              </a>
            </td>
            <td>
              <a [routerLink]="['./', customer.id]">
                {{ customer.firstName }}
              </a>
            </td>
            <td>
              {{ customer.lastName }}
            </td>
            <td>
              <a [href]="'mailto:' + customer.email">
                {{ customer.email }}
              </a>
            </td>
            <td>
              <a [href]="'tel:' + customer.phone">
                {{ customer.phone }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #loading> loading... </ng-template>
<ng-template #noCustomers>
  <p><i>No customers...</i></p>
</ng-template>
